.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
.badge-sm {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: relative;
  top: -10px;
}
.badge-new {
  background-color: tomato;
  font-size: 13px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  margin-left: 10px;
}
.settings-setting__column {
  display: flex;
  align-items: center;
}
